@font-face {
    font-family: 'Garnet';
    font-weight: 400;
    font-display: auto;
    src: local('Coco Puff'),
         url('../assets/fonts/Garnet/Garnet-Regular.eot'),
         url('../assets/fonts/Garnet/Garnet-Regular.eot?#iefix') format('eot'),
         url('../assets/fonts/Garnet/Garnet-Regular.woff2') format('woff2'),
         url('../assets/fonts/Garnet/Garnet-Regular.woff') format('woff'),
         url('../assets/fonts/Garnet/Garnet-Regular.ttf') format('truetype');
}