@import '../../shared/shared';

.color-picker {
    width: 100%;
    max-width: 530px;
    min-height: 400px;
    padding: 15px;
    background-color: $light-grey;

    &__tool {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 75px;
        padding-left: 25px;
        border: 2px solid $grey;
        border-radius: 5px;
        color: $dark-grey;
        background-color: $white;

        & > strong {
            font-size: 24px;
        }

         .user-controls {
            display: flex;
            position: relative;

            &__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 17vw;
                max-width: 80px;
                height: 75px;
                border-color: rgba(0, 0, 0, 0);
                border-left: 2px solid #f5f5f5;
                background-color: rgba(0, 0, 0, 0);
                transition: .4s;
                outline: none;
                
                & > input[type='checkbox'] {
                    display: none;
                }

                .icon-square {
                    display: block;
                    width: 25px;
                    height: 25px;
                    box-shadow: 0 0 5px 0 #98999B;
                }

                .icon-arrow {
                    margin-top: 15px;
                    border: 15px solid transparent;
                    border-top: 20px solid #98999B;
                }
            }

             .select-menu {
                 position: absolute;
                 top: 130%;
                 right: 0;

                 &__wrapper {
                     position: relative;

                     &::after {
                         content: "";
                         position: absolute;
                         top: -10px;
                         width: 20px;
                         height: 20px;
                         background-color: $white;
                         transform: rotate(45deg);
                     }
                 }

                 &__list {
                     position: relative;
                     margin: 0;
                     padding: 0;
                     list-style-type: none;
                     border-radius: 5px;
                     box-shadow: 0 15px 20px 3px #908E8D;
                     overflow: hidden;
                     z-index: 2;

                     li {
                         color: #989898;
                         background-color: $white;
                     }
                 }
             }

             .rgb-select-menu {
                 .select-menu__wrapper {
                     &::after {
                         right: 31%;
                     }
                 }

                 .select-menu__list {
                     width: 65vw;
                     max-width: 350px;

                     li {
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         padding: 15px 15px 15px 25px;

                         .item-title {
                             font-size: 20px;
                             font-weight: bold;
                             text-transform: uppercase;
                         }

                         label {
                             position: relative;
                             width: 80%;

                             input[type=range] {
                                 -webkit-appearance: none;
                                 position: absolute;
                                 top: 50%;
                                 left: 0;
                                 transform: translateY(-50%);
                                 display: block;
                                 width: 100%;
                                 height: 3px;
                                 margin: 0;
                                 background-color: transparent;
                                 z-index: 3;
                             }

                             input[type=range]:focus {
                                 outline: none;
                             }

                             input[type=range]::-webkit-slider-thumb {
                                 -webkit-appearance: none;
                                 position: relative;
                                 width: 15px;
                                 height: 15px;
                                 margin-top: 0;
                                 border: 2px solid $white;
                                 border-radius: 50%;
                                 background: $dark-grey;
                                 cursor: pointer;
                                 z-index: 2;
                             }

                             input[type=range]::-moz-range-thumb {
                                 position: relative;
                                 margin-top: 20px;
                                 width: 15px;
                                 height: 15px;
                                 border: 2px solid $white;
                                 border-radius: 50%;
                                 background: $dark-grey;
                                 cursor: pointer;
                                 z-index: 2;
                             }

                             input[type=range]::-ms-thumb {
                                 position: relative;
                                 width: 15px;
                                 height: 15px;
                                 border: 2px solid $white;
                                 border-radius: 50%;
                                 background: $dark-grey;
                                 cursor: pointer;
                                 z-index: 2;
                             }

                             /* Thumb */
                             //input[type=range]::-webkit-slider-thumb {height: 20px; width: 8px;}
                             //input[type=range]::-moz-range-thumb {height: 20px; width: 8px;}
                             //input[type=range]::-ms-thumb {height: 20px; width: 8px;

                             .progress-line {
                                 position: absolute;
                                 top: 50%;
                                 left: 0;
                                 transform: translateY(-50%);
                                 display: block;
                                 height: 3px;
                                 width: 100%;
                                 border-radius: 3px;
                                 z-index: 1;

                                 &.r {
                                     @include range-bg-color(#E0222E);
                                 }

                                 &.g {
                                     @include range-bg-color(#17A458);
                                 }

                                 &.b {
                                     @include range-bg-color(#18B1EC);
                                 }
                             }
                         }

                         &.btn-group {
                             display: flex;
                             align-items: center;
                             justify-content: flex-end;

                             .rgb-btn {
                                 padding: 5px 20px;
                                 font: inherit;
                                 font-size: 20px;
                                 border: 2px solid #C1C2C4;
                                 color: #9B9C9E;
                                 background-color: #D1D2D4;
                                 pointer-events: none;
                                 outline: none;
                                 transition: .5s;

                                 &:first-child {
                                     margin-right: 10px;
                                 }
                             }

                             &.active-btn-group {
                                 .rgb-btn {
                                     color: $white;
                                     pointer-events: auto;

                                     &.cancel-btn {
                                         background-color: #D28990;

                                         &:hover,
                                         &:active {
                                             color: #D28990;
                                             background-color: $white;
                                         }
                                     }

                                     &.accept-btn {
                                         background-color: #6BA559;

                                         &:hover,
                                         &:active {
                                             color: #6BA559;
                                             background-color: $white;
                                         }
                                     }
                                 }
                             }
                         }
                     }
                 }
             }

             .color-select-menu {
                 .select-menu__wrapper {
                     &::after {
                         right: 20px;
                     }
                 }

                 .select-menu__list {
                     width: 50vw;
                     max-width: 260px;

                     li {
                         border-bottom: 1px solid #eaeaea;
                         input[type='radio'] {
                             display: none;
                         }

                         input[type='radio']:checked + label {
                             color: #C6D5E8;
                             background-color: #3377B6;
                         }

                         label {
                             display: flex;
                             align-items: center;
                             justify-content: space-between;
                             padding: 15px 25px;

                             span {
                                 font-size: 20px;
                                 font-weight: bold;
                                 text-transform: uppercase;
                             }

                             i {
                                 display: block;
                                 width: 20px;
                                 height: 20px;
                                 box-shadow: 0 0 5px 0 #98999B;
                             }
                         }
                     }
                 }
             }
         }
    }
}